/* Tambahkan kode CSS kalian di file ini */
html, header{
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.sub-judul h1{
    text-align: center;
    text-decoration: underline;
}
/* begin :: navbar style */

.nav-flex-container{
    margin: 10px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav-main-logo{
    display: flex;
    justify-content:space-between;
    width: 200px;
    align-items: center;
} */


.main-logo{
    width: 150px;
}

.nav-menu-tengah{
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.nav-flex-item{
    text-decoration: none;
    padding: 9px 15px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(65, 68, 75);
}

.nav-flex-item:hover{
    color: white;
    background-color: rgb(65, 68, 75);
    padding: 9px 15px;
    border-radius: 5px;
}

.nav-menu-kanan{
    display: flex;
    justify-content: space-between;
    width: 180px;
    align-items: center;
}

.signin-button{
    border: 1px solid rgb(65, 68, 75);
    padding: 9px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.signup-button{
    color: white;
    background-color: #8D7B68;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}
.signup-button:hover{
    color: white;
    background-color: #8d7b6877;
    text-decoration:underline;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.card-flex-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 1px solid black;
    padding: 8px;
    flex-basis: 30%;
}

/* end :: navbar style */

/* begin :: header-title style */
.title-section{
    padding: 50px;
    background-image: url(https://i.pinimg.com/564x/6a/ee/bd/6aeebdf34e9eb84681775dc2b410fd9a.jpg);
}
.title-flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
#title{
    width: 500px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 60px;
    font-weight: normal;
}
#description{
    width: 700px;
}
#project-part{
    font-weight: normal;
}
.project-part-logo{
    width: 90px;
}
.title-img{
    width: 450px;
}
/* end :: header-title style */

/* begin :: content-signup-section style */
.signup-section{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.signup-desc{
    margin: auto;
}

.signup-img{
    width: 400px;
}
#signup-stimulus{
    text-align: center;
}
.signup-form{
    margin: auto;
}
.signup-card{
    background-color: #628E90;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    color: white;
}
form {
    padding: 0 50px;
}
.input-form{
    display: block;
    margin-bottom: 20px;
}
.button-form{
    display: block;
    margin-top: 10px;
}
#check{
    font-size: 13px;
}
#signup-capt1{
    padding-top:  20px;
    text-align: center;
}
#signup-capt2{
    text-align: center;
}
#submit-form {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
  }
/* end :: content-signup-section style */

/* begin :: content-benefit-style */

.benefit-section{
    margin: 50px;
}
.benefit-flex-container{
    display: flex;
    justify-content: center;
}
.benefit-card{
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
.benefit-icon{
    height: 50px;
}

/* end :: content-benefit-style */

/* begin :: content-class-style */
.pembelajaran{
    color: white;
}
.class-section{
    padding: 50px;
    background-color: #2D2727;
}
.class-flex-container{
    display: flex;
    justify-content: center;
}
/* .class-card{
    background-color: aqua;
    width: 300px;
    height: 400px;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
} */

.class-card{
    background-color: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 610px;
    border-radius: 20px;
}
.class-img{
    background-size: cover;
    width: 400px;
    height: 250px;
    border-radius: 20px 20px 0 0;
}

#offline-img{
    background-image: url(https://i.pinimg.com/564x/d9/dc/34/d9dc345079bc9e97eb69688412c2bf3b.jpg);
}

#online-img{
    background-image: url(https://img.freepik.com/free-photo/close-up-woman-online-class_23-2148888816.jpg?w=826&t=st=1681120732~exp=1681121332~hmac=37a86f3a6a94778ac7987c9373333c8439d7e17f988331a05e91245ef508f48e);
}

.class-info{
    padding: 20px;
    text-align: center;
}
.button-class-info{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px 50px;
    background-color: #8D7B68;
}

.button-class-info:hover{
    border-radius: 10px;
    padding: 10px 50px;
    color: white;
    background-color: #8d7b6877;
}

#class-detail{
    list-style: none;
    text-align: left;
    margin-bottom: 40px;
}



#class-detail li{
    margin: 10px
}

#class-detail li span{
    margin: 10px
}
.class-detail-icon{
    width: 20px;
}

/* end :: content-class-style */

/* begin :: footer style */
.footer-section{
    background-color: #8d7b6877;
    padding: 50px;
}
.footer-flex-container{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    width: 100px;
}
.footer-info{
    width: 450px;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.footer-menu ul{
    list-style: none;
    line-height: 30px;
    
}
.footer-menu li a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}
.footer-menu label{
    font-weight: bold;
}
.socmed-icon{
    width: 30px;
    margin: 0 5px;
}
/* end :: footer style */